{% extends 'base.html.twig' %}
{% block body %}
    <h1>{{ title }}</h1>
 {%  if age >= 18 %}
     <p>tu es majeur !</p>
{% endif %}
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A accusantium animi deleniti, dignissimos dolorum,
        excepturi fugit illum neque, nostrum possimus similique vel! Distinctio impedit incidunt ipsam nulla temporibus.
        Accusamus aliquam blanditiis doloremque ducimus itaque mollitia provident quas quis quo saepe.</p><p>Aut cumque
        deserunt doloribus illo illum porro vero vitae! Adipisci asperiores consequatur deserunt doloremque dolores,
        doloribus esse eum exercitationem provident reiciendis rem, repellendus saepe, sit sunt vitae. Adipisci alias eaque
        enim maxime quidem! Adipisci assumenda deleniti dolorum ducimus ipsa perspiciatis!</p>
{% endblock %}